extends ./main

block content
    div.container
        table.table.table-bordered
            thead
                tr
                    th Nome
                    th Cnpj
                    th Telefone
                    th E-mail
                    th Contato
                    th Ações
            tbody
                tr  
                    td Client1
                    td 123444550001
                    td (21)988776666
                    td client1@nodejs.com.br
                    td Contato1 
                    td 
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar
                tr  
                    td Client2
                    td 123444550001
                    td (21)988776666
                    td client1@nodejs.com.br
                    td Contato1 
                    td 
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar
                tr  
                    td Client3
                    td 123444550001
                    td (21)988776666
                    td client1@nodejs.com.br
                    td Contato1 
                    td 
                        button.btn.btn-success(type="button") Editar 
                        button.btn.btn-danger(type="button") Deletar                
